# Node
TZ="UTC"

# Api
NODE_ENV="development"
PORT="3333"

# Database
# Local Node processes use this URL directly.
# Docker Compose overrides DB_URL for the app container automatically (because of docker network).
DB_URL="postgresql://postgres:postgres@localhost:5432/image_uploader"

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_ACCESS_KEY_ID=""
CLOUDFLARE_SECRET_ACCESS_KEY=""
CLOUDFLARE_BUCKET=""
CLOUDFLARE_PUBLIC_URL=""
