# Node
TZ="UTC"

# Api
NODE_ENV="development"
PORT="3333"

# Database
DB_URL="postgresql://postgres:postgres@localhost:5432/image_uploader"

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_ACCESS_KEY_ID=""
CLOUDFLARE_SECRET_ACCESS_KEY=""
CLOUDFLARE_BUCKET=""
CLOUDFLARE_PUBLIC_URL=""

# Logger
LOG_LEVEL="trace"

# Open Telemetry
TEL_EXPORTER_OTLP_PROTOCOL="http/protobuf"
OTEL_EXPORTER_OTLP_ENDPOINT=""
OTEL_EXPORTER_OTLP_HEADERS=""
OTEL_TRACES_EXPORTER="otlp"
OTEL_METRICS_EXPORTER="otlp"
OTEL_LOGS_EXPORTER="otlp"
NODE_OPTIONS="--require @opentelemetry/auto-instrumentations-node/register"
OTEL_RESOURCE_ATTRIBUTES="service.name=image-uploader-api"
OTEL_NODE_RESOURCE_DETECTORS="env,host,os,serviceinstance"
